body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5;
}

.container {
  margin: 40px;
  margin-top: 10px;
}

.form-container {
  display: flex;
  max-width: 200px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.form-container input[type="text"] {
  margin-top: 5px;
  padding: 8px;
  font-size: 16px;
  border: solid 1px #ccc 4px;
}

.btn {
  width: 200px;
  background: #eee;
  padding: 10px;
  margin: 20px auto 0px;
  display: block;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background ease-in-out 0.5s;
}

.btn:hover {
  background: #ff6565;
  color: #fff;
}
